<div class="main-content">
  <div class="container-fluid">
    <div class="table-responsive">
      <table mat-table [dataSource]="requestList" class="example-table" matSort matSortActive="dateRequested"
        matSortDisableClear matSortDirection="asc">
        <!-- Number Column -->
        <ng-container matColumnDef="requestId">
          <th mat-header-cell *matHeaderCellDef>Request ID</th>
          <td mat-cell *matCellDef="let row"><a href="/request/{{row.requestId}}">{{row.requestId}}</a></td>
        </ng-container>

        <!-- Title Column -->
        <ng-container matColumnDef="requestType">
          <th mat-header-cell *matHeaderCellDef>Request Type</th>
          <td mat-cell *matCellDef="let row">{{row.requestType.name}}</td>
        </ng-container>

        <!-- State Column -->
        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef>State</th>
          <td mat-cell *matCellDef="let row">{{row.state}}</td>
        </ng-container>

        <ng-container matColumnDef="user">
          <th mat-header-cell *matHeaderCellDef>User</th>
          <td mat-cell *matCellDef="let row">{{row.username}}</td>
        </ng-container>

        <!-- Created Column -->
        <ng-container matColumnDef="created">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
            Created
          </th>
          <td mat-cell *matCellDef="let row">{{row.dateRequested | date}}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
            Actions
          </th>
          <td mat-cell *matCellDef="let row">
            <button *ngIf="row.state == 'REQUESTED' && row.user.userType == 'ADMIN'" type="button" rel="tooltip" title="Apporve Request" id="btnAppove"
              class="btn btn-success" (click) = "approveCR(row)">
              <i class="material-icons">done</i>
            </button>
            <button *ngIf="row.state == 'REQUESTED' && row.user.userType == 'ADMIN'" type="button" rel="tooltip" title="Reject Request" id="btnReject"
              class="btn btn-danger" (click) = "rejectCR(row)">
              <i class="material-icons">close</i>
            </button>
          </td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>